<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--<title>Registration Form in HTML CSS</title>-->
    <!---Custom CSS File--->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="container">
      <header>Registration Form</header>
      <form action="/student/api" class="form">
        <div class="input-box">
          <label for="Fullname">Full Name</label>
          <input id = " Fullname" name="Fullname" type="text" placeholder="Enter full name" required />
        </div>
        <div class="input-box">
          <label for="Email">Email Address</label>
          <input id = " Email" name="Email" type="text" placeholder="Enter email address" required />
        </div>
        <div class="column">
          <div class="input-box">
            <label for="PhoneNumber">Phone Number</label>
            <input id = "PhoneNumber " name="PhoneNumber" type="number" placeholder="Enter phone number" required />
          </div>
          <div class="input-box">
            <label for="Birthdate">Birth Date</label>
            <input id = "Birthdate " name="Birthdate" type="date" placeholder="Enter birth date" required />
          </div>
        </div>
        <div class="gender-box">
          <h3>Gender</h3>
          <div class="gender-option">
            <div class="gender">
              <input id = "check-male " name="Gender" type="radio" id="check-male" name="gender" checked />
              <label for="check-male">male</label>
            </div>
            <div class="gender">
              <input id = " check-female" name="Gender" type="radio" id="check-female" name="gender" />
              <label for="check-female">Female</label>
            </div>
            <div class="gender">
              <input id = " check-other" name="Gender" type="radio" id="check-other" name="gender" />
              <label for="check-other">prefer not to say</label>
            </div>
          </div>
        </div>
        <div class="input-box address">
          <label for="adress">Address</label>
          <input id = "adress " name="Address" type="text" placeholder="Enter street address" required />
          
          
        </div>
        <button>Submit</button>
      </form>
    </section>
  </body>
</html>